/**
.clear{  
    clear: both;  
    height: 0;  
    visibility: hidden;  
    display: block;  
}  
a{  
    text-decoration: none;  
}  
strong{  
    font-weight: 700;  
}  */
/******* GENERAL RESET *******/  /*
h1{  
    font-weight: 700;  
    font-size: 18px;  
    line-height: 1.2em;  
    border-bottom: 1px dotted #6b9ef1;  
    color: #5f95ef;  
    margin-bottom: 1em;  
}*/
/******* LOGO *******//*  
#logo{  
    margin-top: 1em;  
    display: block;  
}  */
/******* /LOGO  *******/  
/******* CONTAINER *******/  
#container{  
    width: 600px;  
    margin: 40px auto;  
    text-align: left;  
}  
/******* /CONTAINER *******/  
/******* FORM *******/  
#customForm{  
    padding: 0 10px 10px;  
}  
#customForm label{  
    display: block;  
    color: #797979;  
    font-weight: 700;  
    line-height: 1.4em;  
}  
#customForm input{  
    width: 220px;  
    padding: 6px;  
    color: #949494;  
    font-family: Arial,  Verdana, Helvetica, sans-serif;  
    font-size: 11px;  
    border: 1px solid #cecece;  
}  
#customForm input.error{  
    background: #f8dbdb;  
    border-color: #e77776;  
}  
#customForm textarea{  
    width: 550px;  
    height: 80px;  
    padding: 6px;  
    color: #adaeae;  
    font-family: Arial,  Verdana, Helvetica, sans-serif;  
    font-style: italic;  
    font-size: 12px;  
    border: 1px solid #cecece;  
}  
#customForm textarea.error{  
    background: #f8dbdb;  
    border-color: #e77776;  
}  
#customForm div{  
    margin-bottom: 15px;  
}  
#customForm div span{  
    margin-left: 10px;  
    color: #b1b1b1;  
    font-size: 11px;  
    font-style: italic;  
}  
#customForm div span.error{  
    color: #e46c6e;  
}  
#customForm #send{  
    background: #6f9ff1;  
    color: #fff;  
    font-weight: 700;  
    font-style: normal;  
    border: 0;  
    cursor: pointer;  
}  
#customForm #send:hover{  
    background: #79a7f1;  
}  
#error{  
    margin-bottom: 20px;  
    border: 1px solid #efefef;  
}  
#error ul{  
    list-style: square;  
    padding: 5px;  
    font-size: 11px;  
}  
#error ul li{  
    list-style-position: inside;  
    line-height: 1.6em;  
}  
#error ul li strong{  
    color: #e46c6d;  
}  
#error.valid ul li strong{  
    color: #93d72e;  
}  
